*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

#nav{
    height: 60px;
    width: 100%;
    background-color: rgba(16, 23, 42, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 10px 20px;
    border: 1px solid rgba(132, 167, 255, 1);
    box-sizing: border-box;
    z-index: 1000;
}

/* #logo{

} */

.nav-section{
    display: flex;
    align-items: center;
}

.left, .right{
    width: 300px;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.center{
    flex: 1;
    justify-content: center;
}

#links{
    display: flex;
    /* justify-content: center;
    flex: 1; */
}

#links a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0 15px;
}

#search-container{
    position: relative;
    width: 40px;
    height: 40px;
    background-color: rgba(16, 23, 42, 1);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: width 0.4s ease;
    overflow: visible;
}

#search-container input{
    position: absolute;
    right: 0;
    width: 0;
    opacity: 0;
    height: 100%;
    padding: 0 40px 0 15px;
    border: none;
    outline: none;
    font-size: 16px;
    color: black;
    background: white;
    z-index: 1;
    border-radius: 20px;
    transition: width 0.4s ease, opacity 0.3s ease;
}

/* #search-container .fa{
    color: white;
    font-size: 18px;
    padding-left: 10px;
    flex-shrink: 0;
}

#search-container:hover{
    width: 250px;
    cursor: pointer;
}

#search-container:hover input{
    display: block;
} */

#search-container.active{
    width: 250px;
}

#search-container.active input{
    width: 250px;
    opacity: 1;
}

#search-container .fa{
    position: absolute;
    right: 15px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    transition: color 0.3 ease;
    z-index: 2;
}

#search-container.active .fa{
    color: black;
}

#user i, #cart i{
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.page {
    padding-top: 100px;
    width: 100%;
    background: #12151f;
}

.title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 10px;
    color: white;
}

.subtitle {
    text-align: center;
    color: white;
    margin-bottom: 40px;
}

/* Layout */
.pc_builder {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 350px 1fr;
    gap: 30px;
}

/* Left list */
.available_components {
    background: rgb(10, 15, 28);
    color: white;
    padding: 20px;
    border-radius: 12px;
    max-height: 750px;
    overflow-y: auto;
}

.available_components h3 {
    margin-bottom: 15px;
    color: #cbd5e1;
}

.component_item {
    background: #0f172a;
    border: 1px solid #334155;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
}

.component_item:hover {
    background: #1e293b;
}

.component_item h4 {
    font-size: 16px;
}

.price {
    margin-left: auto;
    color: #38bdf8;
    font-weight: bold;
}

/* Right build slots */
.your_build {
    background: #1e293b;
    color: white;
    padding: 20px;
    border-radius: 12px;
}

.your_build h3 {
    margin-bottom: 20px;
}

.slot {
    height: 90px;
    border: 1px dashed #475569;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 17px;
    color: #94a3b8;
    margin-bottom: 15px;
    gap: 10px;
}

.selected_item strong {
    color: #38bdf8;
}


.summary_section {
    margin-top: 20px;
    grid-column: span 2;
    display: flex;
    gap: 20px;
}

.summary_box, .compatibility_box {
    background: #1e293b;
    padding: 20px;
    border-radius: 12px;
    flex: 1;
    border: 1px solid #334155;
}

.summary_box h3, .compatibility_box h3 {
    margin-bottom: 15px;
    color: #cbd5e1;
}

.summary_box p, .compatibility_box p {
    margin-bottom: 8px;
    color: white;
    font-size: 15px;
}
