*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    background-color:rgba(16, 23, 42, 1) ;
}

#nav{
    height: 60px;
    width: 100%;
    background-color: rgba(16, 23, 42, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 10px 20px;
    border: 1px solid rgba(132, 167, 255, 1);
    box-sizing: border-box;
    z-index: 1000;
}

/* #logo{

} */

.nav-section{
    display: flex;
    align-items: center;
}

.left, .right{
    width: 300px;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.center{
    flex: 1;
    justify-content: center;
}

#links{
    display: flex;
    /* justify-content: center;
    flex: 1; */
}

#links a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0 15px;
}

#search-container{
    position: relative;
    width: 40px;
    height: 40px;
    background-color: rgba(16, 23, 42, 1);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: width 0.4s ease;
    overflow: visible;
}

#search-container input{
    position: absolute;
    right: 0;
    width: 0;
    opacity: 0;
    height: 100%;
    padding: 0 40px 0 15px;
    border: none;
    outline: none;
    font-size: 16px;
    color: black;
    background: white;
    z-index: 1;
    border-radius: 20px;
    transition: width 0.4s ease, opacity 0.3s ease;
}

/* #search-container .fa{
    color: white;
    font-size: 18px;
    padding-left: 10px;
    flex-shrink: 0;
}

#search-container:hover{
    width: 250px;
    cursor: pointer;
}

#search-container:hover input{
    display: block;
} */

#search-container.active{
    width: 250px;
}

#search-container.active input{
    width: 250px;
    opacity: 1;
}

#search-container .fa{
    position: absolute;
    right: 15px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    transition: color 0.3 ease;
    z-index: 2;
}

#search-container.active .fa{
    color: black;
}

#user i, #cart i{
    color: white;
    font-size: 18px;
    cursor: pointer;
}

/* End Nav */

.titlee {
    padding-top: 100px; 
    text-align: center;  
    color: white;
}
.searchh{
    padding-top: 60px; 
    text-align: center;  
    color: white;
    display: flex;
    flex-direction: column;
}

.searchh input[type="text"] {
    display: flex;
    height: 45px;
    width: 300px;
    justify-content: center;
    margin-left:  40%;
    border-radius: 10px;
    border: 1px solid #ccc;
    
}
.btn{
    display: flex;
    margin-top: 20px;
    height: 25px;
    width: 70px;
    justify-content: center;
    margin-left:  47.5%;
    border-radius: 5px;
}

.list table {
    width: 100%;          
    border-collapse: collapse;
    background-color: white; 
    color: black;           
    box-shadow: 0 2px 20px white; 
    margin-top: 30px;
}

.list table th, 
.list table td {
    padding: 10px;
    text-align: left;
    border: 1px solid darkgray;
}

.list table th {
    background-color: lightgray; 
}

.list h2,p{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    color: white;
}
