*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

#nav{
    height: 60px;
    width: 100%;
    background-color: rgba(16, 23, 42, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    border: solid rgba(132, 167, 255, 1);
    padding: 0 20px;
    border: solid rgba(132, 167, 255, 1);
    box-sizing: border-box;
    z-index: 1000;
}

/* #logo{

} */

.nav-section{
    display: flex;
    align-items: center;
}

.left, .right{
    width: 300px;
}

.center{
    flex: 1;
    justify-content: center;
}

#links{
    display: flex;
    /* justify-content: center;
    flex: 1; */
}

#links a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0 15px;
}
